discord.py==1.2.4
git+https://github.com/tortoise/tortoise-orm@develop
Pillow==6.2.0
requests==2.22.0
aioredis==1.3.0
sentry-sdk==0.13.0
pytz==2019.3
pyseeyou==1.0.0
prometheus_client==0.7.1
aiomysql==0.0.20