aiohttp==3.3.2
asn1crypto==0.24.0
async-timeout==3.0.0
attrs==18.2.0
certifi==2018.8.24
cffi==1.11.5
chardet==3.0.4
cryptography==2.3.1
discord.py==1.0.0a1551+g00a659c
idna==2.7
idna-ssl==1.1.0
multidict==4.3.1
numpy==1.15.1
peewee==3.6.4
pycparser==2.18
PyMySQL==0.9.2
requests==2.19.1
six==1.11.0
urllib3==1.23
websockets==6.0
yarl==1.2.6
