git+https://github.com/Rapptz/discord.py@dea3ba5eb7c99f54c72b11f3e3f7b8f41649e779
peewee==3.7.1
Pillow==5.3.0
PyMySQL==0.9.2
requests==2.20.0
aioredis==1.2.0
sentry-sdk==0.6.4
tornado==5.1.1
python-socketio==3.1.2
pytz==2018.9
pyseeyou==1.0.0
ruamel.yaml==0.15.88