.gear {
	background: #ededed;
    float: left;
	padding: 1vw;
    border-radius: 0 0 15% 0;
	z-index: 0;
	max-height: 100%;
	max-width: 100%;
	position: absolute;
	left:0;
	top: 0;
}

.gearImage {
	z-index: 5;
	position: absolute;
	max-width: 50%;
	max-height: 50%;
	border-radius: 50%;
	left: calc(12% + 1vw);
	top: calc(12% + 1vw);
}

.gearContainer {
	position: relative;
}